.PokemonCard {
    width: 100px; 
    height: 100px;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.PokemonCard:hover {
    background-color: beige;
    outline: 2px solid black;
}