.PokemonCard {
    width: 100px; 
    height: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.PokemonCard:hover {
    background-color: beige !important;
    outline: 2px solid rgb(84, 84, 84) !important;
}