.pokemon-card {
    width: 100px; 
    height: 100px;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.pokemon-card:hover {
    background-color: beige;
}